<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtk.platform.dao.CarInfoMapper">
  <resultMap id="BaseResultMap" type="com.dtk.platform.bean.CarInfo">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Attribution_User_Id1" jdbcType="INTEGER" property="attributionUserId1" />
    <result column="Attribution_User_Id2" jdbcType="INTEGER" property="attributionUserId2" />
    <result column="Car_License" jdbcType="VARCHAR" property="carLicense" />
    <result column="License_Type" jdbcType="INTEGER" property="licenseType" />
    <result column="Vehicle_Pic_Url" jdbcType="VARCHAR" property="vehiclePicUrl" />
    <result column="Car_Pic_Url" jdbcType="VARCHAR" property="carPicUrl" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="Descript" jdbcType="VARCHAR" property="descript" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Operate_Time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="Keep_Field" jdbcType="VARCHAR" property="keepField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Attribution_User_Id1, Attribution_User_Id2, Car_License, License_Type, Vehicle_Pic_Url, 
    Car_Pic_Url, State, Descript, Create_Time, Operate_Time, Keep_Field
  </sql>
  <select id="selectByExample" parameterType="com.dtk.platform.bean.CarInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from car_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from car_info
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from car_info
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtk.platform.bean.CarInfoExample">
    delete from car_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtk.platform.bean.CarInfo">
    insert into car_info (ID, Attribution_User_Id1, Attribution_User_Id2, 
      Car_License, License_Type, Vehicle_Pic_Url, 
      Car_Pic_Url, State, Descript, 
      Create_Time, Operate_Time, Keep_Field
      )
    values (#{id,jdbcType=INTEGER}, #{attributionUserId1,jdbcType=INTEGER}, #{attributionUserId2,jdbcType=INTEGER}, 
      #{carLicense,jdbcType=VARCHAR}, #{licenseType,jdbcType=INTEGER}, #{vehiclePicUrl,jdbcType=VARCHAR}, 
      #{carPicUrl,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{descript,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, #{keepField,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dtk.platform.bean.CarInfo">
    insert into car_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="attributionUserId1 != null">
        Attribution_User_Id1,
      </if>
      <if test="attributionUserId2 != null">
        Attribution_User_Id2,
      </if>
      <if test="carLicense != null">
        Car_License,
      </if>
      <if test="licenseType != null">
        License_Type,
      </if>
      <if test="vehiclePicUrl != null">
        Vehicle_Pic_Url,
      </if>
      <if test="carPicUrl != null">
        Car_Pic_Url,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="descript != null">
        Descript,
      </if>
      <if test="createTime != null">
        Create_Time,
      </if>
      <if test="operateTime != null">
        Operate_Time,
      </if>
      <if test="keepField != null">
        Keep_Field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="attributionUserId1 != null">
        #{attributionUserId1,jdbcType=INTEGER},
      </if>
      <if test="attributionUserId2 != null">
        #{attributionUserId2,jdbcType=INTEGER},
      </if>
      <if test="carLicense != null">
        #{carLicense,jdbcType=VARCHAR},
      </if>
      <if test="licenseType != null">
        #{licenseType,jdbcType=INTEGER},
      </if>
      <if test="vehiclePicUrl != null">
        #{vehiclePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="carPicUrl != null">
        #{carPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        #{keepField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtk.platform.bean.CarInfoExample" resultType="java.lang.Long">
    select count(*) from car_info
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update car_info
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.attributionUserId1 != null">
        Attribution_User_Id1 = #{record.attributionUserId1,jdbcType=INTEGER},
      </if>
      <if test="record.attributionUserId2 != null">
        Attribution_User_Id2 = #{record.attributionUserId2,jdbcType=INTEGER},
      </if>
      <if test="record.carLicense != null">
        Car_License = #{record.carLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.licenseType != null">
        License_Type = #{record.licenseType,jdbcType=INTEGER},
      </if>
      <if test="record.vehiclePicUrl != null">
        Vehicle_Pic_Url = #{record.vehiclePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.carPicUrl != null">
        Car_Pic_Url = #{record.carPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        State = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.descript != null">
        Descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operateTime != null">
        Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keepField != null">
        Keep_Field = #{record.keepField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update car_info
    set ID = #{record.id,jdbcType=INTEGER},
      Attribution_User_Id1 = #{record.attributionUserId1,jdbcType=INTEGER},
      Attribution_User_Id2 = #{record.attributionUserId2,jdbcType=INTEGER},
      Car_License = #{record.carLicense,jdbcType=VARCHAR},
      License_Type = #{record.licenseType,jdbcType=INTEGER},
      Vehicle_Pic_Url = #{record.vehiclePicUrl,jdbcType=VARCHAR},
      Car_Pic_Url = #{record.carPicUrl,jdbcType=VARCHAR},
      State = #{record.state,jdbcType=INTEGER},
      Descript = #{record.descript,jdbcType=VARCHAR},
      Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{record.keepField,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtk.platform.bean.CarInfo">
    update car_info
    <set>
      <if test="attributionUserId1 != null">
        Attribution_User_Id1 = #{attributionUserId1,jdbcType=INTEGER},
      </if>
      <if test="attributionUserId2 != null">
        Attribution_User_Id2 = #{attributionUserId2,jdbcType=INTEGER},
      </if>
      <if test="carLicense != null">
        Car_License = #{carLicense,jdbcType=VARCHAR},
      </if>
      <if test="licenseType != null">
        License_Type = #{licenseType,jdbcType=INTEGER},
      </if>
      <if test="vehiclePicUrl != null">
        Vehicle_Pic_Url = #{vehiclePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="carPicUrl != null">
        Car_Pic_Url = #{carPicUrl,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        Descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        Create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        Keep_Field = #{keepField,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtk.platform.bean.CarInfo">
    update car_info
    set Attribution_User_Id1 = #{attributionUserId1,jdbcType=INTEGER},
      Attribution_User_Id2 = #{attributionUserId2,jdbcType=INTEGER},
      Car_License = #{carLicense,jdbcType=VARCHAR},
      License_Type = #{licenseType,jdbcType=INTEGER},
      Vehicle_Pic_Url = #{vehiclePicUrl,jdbcType=VARCHAR},
      Car_Pic_Url = #{carPicUrl,jdbcType=VARCHAR},
      State = #{state,jdbcType=INTEGER},
      Descript = #{descript,jdbcType=VARCHAR},
      Create_Time = #{createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{keepField,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>