<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtk.platform.dao.ComplaintsSuggestionsMapper">
  <resultMap id="BaseResultMap" type="com.dtk.platform.bean.ComplaintsSuggestions">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="CS_Order_SN" jdbcType="VARCHAR" property="csOrderSn" />
    <result column="CS_User_Id" jdbcType="INTEGER" property="csUserId" />
    <result column="CS_Type" jdbcType="INTEGER" property="csType" />
    <result column="CS_Park_OrderNo" jdbcType="VARCHAR" property="csParkOrderno" />
    <result column="CS_Pay_OrderNo" jdbcType="VARCHAR" property="csPayOrderno" />
    <result column="CS_Car_License" jdbcType="VARCHAR" property="csCarLicense" />
    <result column="CS_Car_License_Type" jdbcType="INTEGER" property="csCarLicenseType" />
    <result column="CS_Car_Vehicle_Pic_Url" jdbcType="VARCHAR" property="csCarVehiclePicUrl" />
    <result column="CS_Content" jdbcType="VARCHAR" property="csContent" />
    <result column="CS_Suggestion" jdbcType="VARCHAR" property="csSuggestion" />
    <result column="CS_Current_Operator" jdbcType="VARCHAR" property="csCurrentOperator" />
    <result column="CS_United_Order_SN" jdbcType="VARCHAR" property="csUnitedOrderSn" />
    <result column="CS_State" jdbcType="INTEGER" property="csState" />
    <result column="CS_Result" jdbcType="VARCHAR" property="csResult" />
    <result column="CS_Callback_Reason" jdbcType="VARCHAR" property="csCallbackReason" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="Descript" jdbcType="VARCHAR" property="descript" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Operate_Time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="Keep_Field" jdbcType="VARCHAR" property="keepField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CS_Order_SN, CS_User_Id, CS_Type, CS_Park_OrderNo, CS_Pay_OrderNo, CS_Car_License, 
    CS_Car_License_Type, CS_Car_Vehicle_Pic_Url, CS_Content, CS_Suggestion, CS_Current_Operator, 
    CS_United_Order_SN, CS_State, CS_Result, CS_Callback_Reason, State, Descript, Create_Time, 
    Operate_Time, Keep_Field
  </sql>
  <select id="selectByExample" parameterType="com.dtk.platform.bean.ComplaintsSuggestionsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from complaints_suggestions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from complaints_suggestions
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from complaints_suggestions
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtk.platform.bean.ComplaintsSuggestionsExample">
    delete from complaints_suggestions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtk.platform.bean.ComplaintsSuggestions">
    insert into complaints_suggestions (ID, CS_Order_SN, CS_User_Id, 
      CS_Type, CS_Park_OrderNo, CS_Pay_OrderNo, 
      CS_Car_License, CS_Car_License_Type, CS_Car_Vehicle_Pic_Url, 
      CS_Content, CS_Suggestion, CS_Current_Operator, 
      CS_United_Order_SN, CS_State, CS_Result, 
      CS_Callback_Reason, State, Descript, 
      Create_Time, Operate_Time, Keep_Field
      )
    values (#{id,jdbcType=INTEGER}, #{csOrderSn,jdbcType=VARCHAR}, #{csUserId,jdbcType=INTEGER}, 
      #{csType,jdbcType=INTEGER}, #{csParkOrderno,jdbcType=VARCHAR}, #{csPayOrderno,jdbcType=VARCHAR}, 
      #{csCarLicense,jdbcType=VARCHAR}, #{csCarLicenseType,jdbcType=INTEGER}, #{csCarVehiclePicUrl,jdbcType=VARCHAR}, 
      #{csContent,jdbcType=VARCHAR}, #{csSuggestion,jdbcType=VARCHAR}, #{csCurrentOperator,jdbcType=VARCHAR}, 
      #{csUnitedOrderSn,jdbcType=VARCHAR}, #{csState,jdbcType=INTEGER}, #{csResult,jdbcType=VARCHAR}, 
      #{csCallbackReason,jdbcType=VARCHAR}, #{state,jdbcType=INTEGER}, #{descript,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, #{keepField,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dtk.platform.bean.ComplaintsSuggestions">
    insert into complaints_suggestions
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="csOrderSn != null">
        CS_Order_SN,
      </if>
      <if test="csUserId != null">
        CS_User_Id,
      </if>
      <if test="csType != null">
        CS_Type,
      </if>
      <if test="csParkOrderno != null">
        CS_Park_OrderNo,
      </if>
      <if test="csPayOrderno != null">
        CS_Pay_OrderNo,
      </if>
      <if test="csCarLicense != null">
        CS_Car_License,
      </if>
      <if test="csCarLicenseType != null">
        CS_Car_License_Type,
      </if>
      <if test="csCarVehiclePicUrl != null">
        CS_Car_Vehicle_Pic_Url,
      </if>
      <if test="csContent != null">
        CS_Content,
      </if>
      <if test="csSuggestion != null">
        CS_Suggestion,
      </if>
      <if test="csCurrentOperator != null">
        CS_Current_Operator,
      </if>
      <if test="csUnitedOrderSn != null">
        CS_United_Order_SN,
      </if>
      <if test="csState != null">
        CS_State,
      </if>
      <if test="csResult != null">
        CS_Result,
      </if>
      <if test="csCallbackReason != null">
        CS_Callback_Reason,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="descript != null">
        Descript,
      </if>
      <if test="createTime != null">
        Create_Time,
      </if>
      <if test="operateTime != null">
        Operate_Time,
      </if>
      <if test="keepField != null">
        Keep_Field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="csOrderSn != null">
        #{csOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="csUserId != null">
        #{csUserId,jdbcType=INTEGER},
      </if>
      <if test="csType != null">
        #{csType,jdbcType=INTEGER},
      </if>
      <if test="csParkOrderno != null">
        #{csParkOrderno,jdbcType=VARCHAR},
      </if>
      <if test="csPayOrderno != null">
        #{csPayOrderno,jdbcType=VARCHAR},
      </if>
      <if test="csCarLicense != null">
        #{csCarLicense,jdbcType=VARCHAR},
      </if>
      <if test="csCarLicenseType != null">
        #{csCarLicenseType,jdbcType=INTEGER},
      </if>
      <if test="csCarVehiclePicUrl != null">
        #{csCarVehiclePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="csContent != null">
        #{csContent,jdbcType=VARCHAR},
      </if>
      <if test="csSuggestion != null">
        #{csSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="csCurrentOperator != null">
        #{csCurrentOperator,jdbcType=VARCHAR},
      </if>
      <if test="csUnitedOrderSn != null">
        #{csUnitedOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="csState != null">
        #{csState,jdbcType=INTEGER},
      </if>
      <if test="csResult != null">
        #{csResult,jdbcType=VARCHAR},
      </if>
      <if test="csCallbackReason != null">
        #{csCallbackReason,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        #{keepField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtk.platform.bean.ComplaintsSuggestionsExample" resultType="java.lang.Long">
    select count(*) from complaints_suggestions
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update complaints_suggestions
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.csOrderSn != null">
        CS_Order_SN = #{record.csOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.csUserId != null">
        CS_User_Id = #{record.csUserId,jdbcType=INTEGER},
      </if>
      <if test="record.csType != null">
        CS_Type = #{record.csType,jdbcType=INTEGER},
      </if>
      <if test="record.csParkOrderno != null">
        CS_Park_OrderNo = #{record.csParkOrderno,jdbcType=VARCHAR},
      </if>
      <if test="record.csPayOrderno != null">
        CS_Pay_OrderNo = #{record.csPayOrderno,jdbcType=VARCHAR},
      </if>
      <if test="record.csCarLicense != null">
        CS_Car_License = #{record.csCarLicense,jdbcType=VARCHAR},
      </if>
      <if test="record.csCarLicenseType != null">
        CS_Car_License_Type = #{record.csCarLicenseType,jdbcType=INTEGER},
      </if>
      <if test="record.csCarVehiclePicUrl != null">
        CS_Car_Vehicle_Pic_Url = #{record.csCarVehiclePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.csContent != null">
        CS_Content = #{record.csContent,jdbcType=VARCHAR},
      </if>
      <if test="record.csSuggestion != null">
        CS_Suggestion = #{record.csSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="record.csCurrentOperator != null">
        CS_Current_Operator = #{record.csCurrentOperator,jdbcType=VARCHAR},
      </if>
      <if test="record.csUnitedOrderSn != null">
        CS_United_Order_SN = #{record.csUnitedOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="record.csState != null">
        CS_State = #{record.csState,jdbcType=INTEGER},
      </if>
      <if test="record.csResult != null">
        CS_Result = #{record.csResult,jdbcType=VARCHAR},
      </if>
      <if test="record.csCallbackReason != null">
        CS_Callback_Reason = #{record.csCallbackReason,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        State = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.descript != null">
        Descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operateTime != null">
        Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keepField != null">
        Keep_Field = #{record.keepField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update complaints_suggestions
    set ID = #{record.id,jdbcType=INTEGER},
      CS_Order_SN = #{record.csOrderSn,jdbcType=VARCHAR},
      CS_User_Id = #{record.csUserId,jdbcType=INTEGER},
      CS_Type = #{record.csType,jdbcType=INTEGER},
      CS_Park_OrderNo = #{record.csParkOrderno,jdbcType=VARCHAR},
      CS_Pay_OrderNo = #{record.csPayOrderno,jdbcType=VARCHAR},
      CS_Car_License = #{record.csCarLicense,jdbcType=VARCHAR},
      CS_Car_License_Type = #{record.csCarLicenseType,jdbcType=INTEGER},
      CS_Car_Vehicle_Pic_Url = #{record.csCarVehiclePicUrl,jdbcType=VARCHAR},
      CS_Content = #{record.csContent,jdbcType=VARCHAR},
      CS_Suggestion = #{record.csSuggestion,jdbcType=VARCHAR},
      CS_Current_Operator = #{record.csCurrentOperator,jdbcType=VARCHAR},
      CS_United_Order_SN = #{record.csUnitedOrderSn,jdbcType=VARCHAR},
      CS_State = #{record.csState,jdbcType=INTEGER},
      CS_Result = #{record.csResult,jdbcType=VARCHAR},
      CS_Callback_Reason = #{record.csCallbackReason,jdbcType=VARCHAR},
      State = #{record.state,jdbcType=INTEGER},
      Descript = #{record.descript,jdbcType=VARCHAR},
      Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{record.keepField,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtk.platform.bean.ComplaintsSuggestions">
    update complaints_suggestions
    <set>
      <if test="csOrderSn != null">
        CS_Order_SN = #{csOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="csUserId != null">
        CS_User_Id = #{csUserId,jdbcType=INTEGER},
      </if>
      <if test="csType != null">
        CS_Type = #{csType,jdbcType=INTEGER},
      </if>
      <if test="csParkOrderno != null">
        CS_Park_OrderNo = #{csParkOrderno,jdbcType=VARCHAR},
      </if>
      <if test="csPayOrderno != null">
        CS_Pay_OrderNo = #{csPayOrderno,jdbcType=VARCHAR},
      </if>
      <if test="csCarLicense != null">
        CS_Car_License = #{csCarLicense,jdbcType=VARCHAR},
      </if>
      <if test="csCarLicenseType != null">
        CS_Car_License_Type = #{csCarLicenseType,jdbcType=INTEGER},
      </if>
      <if test="csCarVehiclePicUrl != null">
        CS_Car_Vehicle_Pic_Url = #{csCarVehiclePicUrl,jdbcType=VARCHAR},
      </if>
      <if test="csContent != null">
        CS_Content = #{csContent,jdbcType=VARCHAR},
      </if>
      <if test="csSuggestion != null">
        CS_Suggestion = #{csSuggestion,jdbcType=VARCHAR},
      </if>
      <if test="csCurrentOperator != null">
        CS_Current_Operator = #{csCurrentOperator,jdbcType=VARCHAR},
      </if>
      <if test="csUnitedOrderSn != null">
        CS_United_Order_SN = #{csUnitedOrderSn,jdbcType=VARCHAR},
      </if>
      <if test="csState != null">
        CS_State = #{csState,jdbcType=INTEGER},
      </if>
      <if test="csResult != null">
        CS_Result = #{csResult,jdbcType=VARCHAR},
      </if>
      <if test="csCallbackReason != null">
        CS_Callback_Reason = #{csCallbackReason,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        Descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        Create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        Keep_Field = #{keepField,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtk.platform.bean.ComplaintsSuggestions">
    update complaints_suggestions
    set CS_Order_SN = #{csOrderSn,jdbcType=VARCHAR},
      CS_User_Id = #{csUserId,jdbcType=INTEGER},
      CS_Type = #{csType,jdbcType=INTEGER},
      CS_Park_OrderNo = #{csParkOrderno,jdbcType=VARCHAR},
      CS_Pay_OrderNo = #{csPayOrderno,jdbcType=VARCHAR},
      CS_Car_License = #{csCarLicense,jdbcType=VARCHAR},
      CS_Car_License_Type = #{csCarLicenseType,jdbcType=INTEGER},
      CS_Car_Vehicle_Pic_Url = #{csCarVehiclePicUrl,jdbcType=VARCHAR},
      CS_Content = #{csContent,jdbcType=VARCHAR},
      CS_Suggestion = #{csSuggestion,jdbcType=VARCHAR},
      CS_Current_Operator = #{csCurrentOperator,jdbcType=VARCHAR},
      CS_United_Order_SN = #{csUnitedOrderSn,jdbcType=VARCHAR},
      CS_State = #{csState,jdbcType=INTEGER},
      CS_Result = #{csResult,jdbcType=VARCHAR},
      CS_Callback_Reason = #{csCallbackReason,jdbcType=VARCHAR},
      State = #{state,jdbcType=INTEGER},
      Descript = #{descript,jdbcType=VARCHAR},
      Create_Time = #{createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{keepField,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>