<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtk.platform.dao.OperatorsMapper">
  <resultMap id="BaseResultMap" type="com.dtk.platform.bean.Operators">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Operator_SN" jdbcType="VARCHAR" property="operatorSn" />
    <result column="Operator_Name" jdbcType="VARCHAR" property="operatorName" />
    <result column="Operator_Contact" jdbcType="VARCHAR" property="operatorContact" />
    <result column="Operator_Pwd" jdbcType="VARCHAR" property="operatorPwd" />
    <result column="Operator_Icon" jdbcType="VARCHAR" property="operatorIcon" />
    <result column="Operator_Gender" jdbcType="INTEGER" property="operatorGender" />
    <result column="Open_Id" jdbcType="VARCHAR" property="openId" />
    <result column="Union_Unique_Id" jdbcType="VARCHAR" property="unionUniqueId" />
    <result column="TPL_User_Id" jdbcType="VARCHAR" property="tplUserId" />
    <result column="Token" jdbcType="VARCHAR" property="token" />
    <result column="Operator_Role_ID" jdbcType="INTEGER" property="operatorRoleId" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Operate_Time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="Keep_Field" jdbcType="VARCHAR" property="keepField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Operator_SN, Operator_Name, Operator_Contact, Operator_Pwd, Operator_Icon, Operator_Gender, 
    Open_Id, Union_Unique_Id, TPL_User_Id, Token, Operator_Role_ID, State, Create_Time, 
    Operate_Time, Keep_Field
  </sql>
  <select id="selectByExample" parameterType="com.dtk.platform.bean.OperatorsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from operators
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from operators
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from operators
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtk.platform.bean.OperatorsExample">
    delete from operators
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtk.platform.bean.Operators">
    insert into operators (ID, Operator_SN, Operator_Name, 
      Operator_Contact, Operator_Pwd, Operator_Icon, 
      Operator_Gender, Open_Id, Union_Unique_Id, 
      TPL_User_Id, Token, Operator_Role_ID, 
      State, Create_Time, Operate_Time, 
      Keep_Field)
    values (#{id,jdbcType=INTEGER}, #{operatorSn,jdbcType=VARCHAR}, #{operatorName,jdbcType=VARCHAR}, 
      #{operatorContact,jdbcType=VARCHAR}, #{operatorPwd,jdbcType=VARCHAR}, #{operatorIcon,jdbcType=VARCHAR}, 
      #{operatorGender,jdbcType=INTEGER}, #{openId,jdbcType=VARCHAR}, #{unionUniqueId,jdbcType=VARCHAR}, 
      #{tplUserId,jdbcType=VARCHAR}, #{token,jdbcType=VARCHAR}, #{operatorRoleId,jdbcType=INTEGER}, 
      #{state,jdbcType=INTEGER}, #{createTime,jdbcType=TIMESTAMP}, #{operateTime,jdbcType=TIMESTAMP}, 
      #{keepField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dtk.platform.bean.Operators">
    insert into operators
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="operatorSn != null">
        Operator_SN,
      </if>
      <if test="operatorName != null">
        Operator_Name,
      </if>
      <if test="operatorContact != null">
        Operator_Contact,
      </if>
      <if test="operatorPwd != null">
        Operator_Pwd,
      </if>
      <if test="operatorIcon != null">
        Operator_Icon,
      </if>
      <if test="operatorGender != null">
        Operator_Gender,
      </if>
      <if test="openId != null">
        Open_Id,
      </if>
      <if test="unionUniqueId != null">
        Union_Unique_Id,
      </if>
      <if test="tplUserId != null">
        TPL_User_Id,
      </if>
      <if test="token != null">
        Token,
      </if>
      <if test="operatorRoleId != null">
        Operator_Role_ID,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="createTime != null">
        Create_Time,
      </if>
      <if test="operateTime != null">
        Operate_Time,
      </if>
      <if test="keepField != null">
        Keep_Field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operatorSn != null">
        #{operatorSn,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorContact != null">
        #{operatorContact,jdbcType=VARCHAR},
      </if>
      <if test="operatorPwd != null">
        #{operatorPwd,jdbcType=VARCHAR},
      </if>
      <if test="operatorIcon != null">
        #{operatorIcon,jdbcType=VARCHAR},
      </if>
      <if test="operatorGender != null">
        #{operatorGender,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionUniqueId != null">
        #{unionUniqueId,jdbcType=VARCHAR},
      </if>
      <if test="tplUserId != null">
        #{tplUserId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="operatorRoleId != null">
        #{operatorRoleId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        #{keepField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtk.platform.bean.OperatorsExample" resultType="java.lang.Long">
    select count(*) from operators
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update operators
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.operatorSn != null">
        Operator_SN = #{record.operatorSn,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorName != null">
        Operator_Name = #{record.operatorName,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorContact != null">
        Operator_Contact = #{record.operatorContact,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorPwd != null">
        Operator_Pwd = #{record.operatorPwd,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorIcon != null">
        Operator_Icon = #{record.operatorIcon,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorGender != null">
        Operator_Gender = #{record.operatorGender,jdbcType=INTEGER},
      </if>
      <if test="record.openId != null">
        Open_Id = #{record.openId,jdbcType=VARCHAR},
      </if>
      <if test="record.unionUniqueId != null">
        Union_Unique_Id = #{record.unionUniqueId,jdbcType=VARCHAR},
      </if>
      <if test="record.tplUserId != null">
        TPL_User_Id = #{record.tplUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.token != null">
        Token = #{record.token,jdbcType=VARCHAR},
      </if>
      <if test="record.operatorRoleId != null">
        Operator_Role_ID = #{record.operatorRoleId,jdbcType=INTEGER},
      </if>
      <if test="record.state != null">
        State = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operateTime != null">
        Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keepField != null">
        Keep_Field = #{record.keepField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update operators
    set ID = #{record.id,jdbcType=INTEGER},
      Operator_SN = #{record.operatorSn,jdbcType=VARCHAR},
      Operator_Name = #{record.operatorName,jdbcType=VARCHAR},
      Operator_Contact = #{record.operatorContact,jdbcType=VARCHAR},
      Operator_Pwd = #{record.operatorPwd,jdbcType=VARCHAR},
      Operator_Icon = #{record.operatorIcon,jdbcType=VARCHAR},
      Operator_Gender = #{record.operatorGender,jdbcType=INTEGER},
      Open_Id = #{record.openId,jdbcType=VARCHAR},
      Union_Unique_Id = #{record.unionUniqueId,jdbcType=VARCHAR},
      TPL_User_Id = #{record.tplUserId,jdbcType=VARCHAR},
      Token = #{record.token,jdbcType=VARCHAR},
      Operator_Role_ID = #{record.operatorRoleId,jdbcType=INTEGER},
      State = #{record.state,jdbcType=INTEGER},
      Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{record.keepField,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtk.platform.bean.Operators">
    update operators
    <set>
      <if test="operatorSn != null">
        Operator_SN = #{operatorSn,jdbcType=VARCHAR},
      </if>
      <if test="operatorName != null">
        Operator_Name = #{operatorName,jdbcType=VARCHAR},
      </if>
      <if test="operatorContact != null">
        Operator_Contact = #{operatorContact,jdbcType=VARCHAR},
      </if>
      <if test="operatorPwd != null">
        Operator_Pwd = #{operatorPwd,jdbcType=VARCHAR},
      </if>
      <if test="operatorIcon != null">
        Operator_Icon = #{operatorIcon,jdbcType=VARCHAR},
      </if>
      <if test="operatorGender != null">
        Operator_Gender = #{operatorGender,jdbcType=INTEGER},
      </if>
      <if test="openId != null">
        Open_Id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionUniqueId != null">
        Union_Unique_Id = #{unionUniqueId,jdbcType=VARCHAR},
      </if>
      <if test="tplUserId != null">
        TPL_User_Id = #{tplUserId,jdbcType=VARCHAR},
      </if>
      <if test="token != null">
        Token = #{token,jdbcType=VARCHAR},
      </if>
      <if test="operatorRoleId != null">
        Operator_Role_ID = #{operatorRoleId,jdbcType=INTEGER},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        Create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        Keep_Field = #{keepField,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtk.platform.bean.Operators">
    update operators
    set Operator_SN = #{operatorSn,jdbcType=VARCHAR},
      Operator_Name = #{operatorName,jdbcType=VARCHAR},
      Operator_Contact = #{operatorContact,jdbcType=VARCHAR},
      Operator_Pwd = #{operatorPwd,jdbcType=VARCHAR},
      Operator_Icon = #{operatorIcon,jdbcType=VARCHAR},
      Operator_Gender = #{operatorGender,jdbcType=INTEGER},
      Open_Id = #{openId,jdbcType=VARCHAR},
      Union_Unique_Id = #{unionUniqueId,jdbcType=VARCHAR},
      TPL_User_Id = #{tplUserId,jdbcType=VARCHAR},
      Token = #{token,jdbcType=VARCHAR},
      Operator_Role_ID = #{operatorRoleId,jdbcType=INTEGER},
      State = #{state,jdbcType=INTEGER},
      Create_Time = #{createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{keepField,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>