<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dtk.platform.dao.RolesMapper">
  <resultMap id="BaseResultMap" type="com.dtk.platform.bean.Roles">
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="Role_Name" jdbcType="VARCHAR" property="roleName" />
    <result column="Role_Key" jdbcType="VARCHAR" property="roleKey" />
    <result column="State" jdbcType="INTEGER" property="state" />
    <result column="Descript" jdbcType="VARCHAR" property="descript" />
    <result column="Create_Time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="Operate_Time" jdbcType="TIMESTAMP" property="operateTime" />
    <result column="Keep_Field" jdbcType="VARCHAR" property="keepField" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, Role_Name, Role_Key, State, Descript, Create_Time, Operate_Time, Keep_Field
  </sql>
  <select id="selectByExample" parameterType="com.dtk.platform.bean.RolesExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from roles
    where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from roles
    where ID = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dtk.platform.bean.RolesExample">
    delete from roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dtk.platform.bean.Roles">
    insert into roles (ID, Role_Name, Role_Key, 
      State, Descript, Create_Time, 
      Operate_Time, Keep_Field)
    values (#{id,jdbcType=INTEGER}, #{roleName,jdbcType=VARCHAR}, #{roleKey,jdbcType=VARCHAR}, 
      #{state,jdbcType=INTEGER}, #{descript,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{operateTime,jdbcType=TIMESTAMP}, #{keepField,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dtk.platform.bean.Roles">
    insert into roles
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="roleName != null">
        Role_Name,
      </if>
      <if test="roleKey != null">
        Role_Key,
      </if>
      <if test="state != null">
        State,
      </if>
      <if test="descript != null">
        Descript,
      </if>
      <if test="createTime != null">
        Create_Time,
      </if>
      <if test="operateTime != null">
        Operate_Time,
      </if>
      <if test="keepField != null">
        Keep_Field,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="roleName != null">
        #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleKey != null">
        #{roleKey,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        #{keepField,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dtk.platform.bean.RolesExample" resultType="java.lang.Long">
    select count(*) from roles
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update roles
    <set>
      <if test="record.id != null">
        ID = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.roleName != null">
        Role_Name = #{record.roleName,jdbcType=VARCHAR},
      </if>
      <if test="record.roleKey != null">
        Role_Key = #{record.roleKey,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null">
        State = #{record.state,jdbcType=INTEGER},
      </if>
      <if test="record.descript != null">
        Descript = #{record.descript,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.operateTime != null">
        Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.keepField != null">
        Keep_Field = #{record.keepField,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update roles
    set ID = #{record.id,jdbcType=INTEGER},
      Role_Name = #{record.roleName,jdbcType=VARCHAR},
      Role_Key = #{record.roleKey,jdbcType=VARCHAR},
      State = #{record.state,jdbcType=INTEGER},
      Descript = #{record.descript,jdbcType=VARCHAR},
      Create_Time = #{record.createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{record.operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{record.keepField,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dtk.platform.bean.Roles">
    update roles
    <set>
      <if test="roleName != null">
        Role_Name = #{roleName,jdbcType=VARCHAR},
      </if>
      <if test="roleKey != null">
        Role_Key = #{roleKey,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        State = #{state,jdbcType=INTEGER},
      </if>
      <if test="descript != null">
        Descript = #{descript,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        Create_Time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="operateTime != null">
        Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keepField != null">
        Keep_Field = #{keepField,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dtk.platform.bean.Roles">
    update roles
    set Role_Name = #{roleName,jdbcType=VARCHAR},
      Role_Key = #{roleKey,jdbcType=VARCHAR},
      State = #{state,jdbcType=INTEGER},
      Descript = #{descript,jdbcType=VARCHAR},
      Create_Time = #{createTime,jdbcType=TIMESTAMP},
      Operate_Time = #{operateTime,jdbcType=TIMESTAMP},
      Keep_Field = #{keepField,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>