@CHARSET "UTF-8";
/*************** main样式 ***************/
.bind .brand{display: block;width:86%;margin:0 auto 5%;}
.bind .brand .inner{position: relative;padding:5%;text-align: center;}
.bind .brand .inner img{width: 100%;}
.bind .brand .inner input{width: 13%;text-align: center;border: 1px solid #450064;border-radius: 5px; font-size: 2rem;background: #fff;color: #450064;padding: 4% 0;}
.bind .brand .inner input.active{box-shadow:0 0 10px 5px #450064;}
.bind .btns{width: 86%;margin:0 auto;}
.bind .orangebtn{width: 30%;}
.bind .brand-long{width:90%;}
.bind .brand-long .inner{padding:2%;}
.bind .brand-long .inner input{width:11%;}
.bind .brand-long .inner input:last-child{border-style: dashed;font-weight: 100;}
.bind .brand-long .inner input:last-child::-webkit-input-placeholder{color: #450064; } 
.bind .brand-long .inner input:last-child:-moz-placeholder{color: #450064; } 
.bind .brand-long .inner input:last-child:-ms-input-placeholder{color: #450064; } 
.bind .brand-long .inner input:last-child:input-placeholder{color: #450064; }

.historyList{font-size: 1.4rem;}
.historyList table{width: 100%;text-align: center;}
.historyList table thead{font-size: 1.6rem;}
.historyList table th{font-weight: normal;padding:8px 0;}
.historyList table td{padding:4% 0;}
.historyList .number{color:#000000;}

/*************** 停车记录 ***************/
.recordWrap{/*height: 97%;overflow-y: scroll;*/background: #fff;}
.recordList{box-shadow: 0px 0px 5px 0px rgba(0,0,0,.2);background: #fff;padding:4% 4% 3.5%;margin-bottom: 1rem;}
.recordList a{display: block;background: url(/wx/img/MicroParking/white/arrow.png) right center no-repeat;background-size: 13px;}
.recordList dl{float: left;}
.recordList dl dt{color: #64a5f6;font-weight: bold;font-size: 1.8rem;margin-bottom: 0.8rem;}
.recordList dl dd{color:#450064;font-size: 1.4rem;line-height: 2rem;}
.recordList .price{float: right;color:#450064;font-size: 1.4rem;padding-top: 9.4%;padding-right: 6%;}
.recordList .price strong{color:#ff5f59;font-size: 2.8rem;padding-right: 3px;}
.recordList .price i{color:#999;text-decoration: line-through;padding-left: 3px;}
.norecord{padding-top: 75%; text-align: center; font-size: 1.6rem;color:#b1b1b1; background: url(/wx/img/MicroParking/white/norecord.png) center 62% no-repeat;background-size: 32%;}
.openout{height:100px;}
.footerMenu{width:100%;padding:5px 0 1px;border-top:2px solid #c8b4d0;background: #fff;position: fixed;left:0;right:0;bottom: 0;display:-webkit-flex;display:flex;-webkit-justify-content:space-around;justify-content:space-around;z-index: 8;}
.footerMenu a{display: block;text-align: center;color: #450064;font-size: 1.25rem;padding-top: 28px;}
.footerMenu a:nth-child(1){background: url(../img/pay.png) center top no-repeat;background-size: 21px;}
.footerMenu a:nth-child(2){background: url(../img/record.png) center top no-repeat;background-size: 19px;}
.footerMenu a:nth-child(3){background: url(../img/center.png) center top no-repeat;background-size: 21px;}
.footerMenu a:nth-child(1).active{background: url(../img/pay_s.png) center top no-repeat;background-size: 21px;}
.footerMenu a:nth-child(2).active{background: url(../img/record_s.png) center top no-repeat;background-size: 19px;}
.footerMenu a:nth-child(3).active{background: url(../img/center_s.png) center top no-repeat;background-size: 21px;}


/*************** 场内停车记录信息 main***************/
.alignright{text-align: right;padding:5% 5% 0;}
.brand-wrap{padding-top: 7%;padding-left: 15%;text-align: center;}
.brand-wrap .brand{width:68%;height:57px;float: left;position: relative;z-index: 2;}
.brand-wrap .brand .inner{height:49px;}
.brand-wrap .gochange{display:block;float: left;color:#450064;font-size:1.3rem;line-height:2.5rem;padding:0 4px 0 10px;border:2px solid #450064;border-radius: 5px;position: relative;left:-9px;top:13px;z-index: 1}
.paymentInfo{width: 86%;margin:6% auto 0;border-radius: 5px;}
.paymentInfo .title{text-align: center;padding:4% 0 5%;background: #64c4f6 left bottom repeat-x;background-size: 5%;}
.paymentInfo .title span{font-size: 1.8rem;}
.paymentInfo .title img{display: inline;width: 6%;}
.paymentInfo .con{padding:5% 8%;text-align: right;}
.paymentInfo .info{padding:5% 0 1%;}
.paymentInfo .info li{line-height: 2.5rem;font-size: 1.4rem;}
.paymentInfo .info li span:nth-child(1){float: left;}
.paymentInfo .info li span:nth-child(2){float: right;}
.paymentInfo .smallImg{display: block;width: 94%;margin:0 auto;position: relative;}
.paymentInfo .smallImg img{width: 100%;border-radius: 5px;}
.paymentInfo .smallImg i{width:10px;height:10px;position: absolute;background: url(/wx/img/MicroParking/white/jt.png) left top no-repeat;background-size: 100%;}
.paymentInfo .smallImg i.leftbottom{bottom: 6%;left: 4%;}
.paymentInfo .smallImg i.righttop{top: 6%;right: 4%;transform: rotate(180deg);}
.paymentInfo .con .btns{padding:8% 0 2% 0;}
.paymentInfo .con .btns a{width: 43%;}
.paymentInfo .con .btns a.btn{width: 47%;display: block;border:2px solid #450064;border-radius: 5px;color: #450064;text-align: center;background: #c2f473;font-size: 1.6rem;line-height: 3.2rem;}
.paymentInfo .detialbtns{padding:4% 0 2% 0;text-align: center;}
.paymentInfo .detialbtns a.btn{width: 30%;display: inline-block;margin:0 5%;border:2px solid #450064;border-radius: 5px;color: #450064;text-align: center;background: #c2f473;font-size: 1.6rem;line-height: 3.2rem;}
.paymentInfo .tips{padding: 2% 0 4%;text-align: center;color: #888;font-style: italic;}
.paymentInfo .timecount{text-align: center;color:#ff5f59;font-size: 1.6rem;padding-bottom: 7%;}
.paymentTips{width:100%;margin-top: 10%;}
.paymentTips .tips{padding-top:2%;padding-bottom: 7%; color:#888;text-align: center;font-size: 1.2rem;font-style: italic;}
.paymentTips img{width: 100%;}

/*************** 弹窗 main ***************/
.fixcont{display:none;z-index: 9;position: fixed;top: 0;left: 0;right: 0;bottom: 0;background-color: rgba(0,0,0,.6);}
.fixbottom{width:100%;position: fixed;left: 0;right: 0;bottom: 0;background: #fff;}
.fixbottom h2{background: #edf1fa;position: relative; padding-left: 7%;height:4rem;}
.fixbottom h2 i{display: inline-block;width: 6px;border: 1px solid #450064;border-radius: 5px;background: #64c4f6;height: 2rem;position: relative;top: 0.7rem;}
.fixbottom h2 span{font-size: 1.6rem;line-height: 4rem;padding-left: 2%;}
.fixbottom .close{display:block;font-size: 3rem;line-height: 4rem;font-weight: 100; padding:0 10px;position: absolute;right: 0;top: 0;}
/*选择车牌*/
.chooseList{width: 100%;padding-bottom: 25%;}
.chooseList li{line-height: 3.5rem;padding-left: 12%;padding-right: 10%;color: #64a5f6;font-size: 1.5rem;}
.chooseList li.cur{background: #64c4f6;color:#fff;}
.chooseList li i{/*display: inline-block;*/display:none;float: right;}
.chooseList li i.yet{color:#d0d8e2;}
.chooseList li i.has{color:#c2f473;}
.chooseList li i.wait{color:#ff5f59;}
.chooseno{text-align: center;color: #888;padding:15% 5%;font-size: 1.4rem;}

/*计费规则*/
#js-rule .fixbottom{height: 70%;}
.rulesBox{height: 100%;overflow-y: scroll;}
.rulesInner{padding: 6% 5%;height: 90%;overflow-y: scroll;}
.rulesInner strong{color: #ffcd55;font-size: 1.6rem;font-weight: normal;display: block;padding-bottom: 1rem;}
.rulesInner p{font-size: 1.3rem;line-height: 2.5rem;font-weight: 100;}
.rulesInner p span{color: #ff5f59;}


/*键盘main*/
.keybox{display:none;z-index: 9;position: fixed;left: 0;right: 0;bottom: 0;background: #d9d9d9;padding:2% 1%;}
.keybox ul{width:100%;}
.keybox ul li{float: left;width:8.8%;height:5rem;margin:0 0.6%;position: relative;}
.keybox ul li a,
.keybox ul li span{display: block;width:100%;line-height:5rem;color:#545454;text-align: center;font-size: 1.8rem;background: url(/wx/img/MicroParking/white/key-bg.png) center center no-repeat;background-size: 100%;position: absolute;left: 0;bottom: 0;}
.keybox ul li span.active{width:200%;height:10rem;left:-50%;line-height:8rem;background: url(/wx/img/MicroParking/white/key-bg-a.png) center bottom no-repeat;background-size: 100%;}
.keybox ul li span.keys-disabled{background-image: url(/wx/img/MicroParking/white/key-bg-dis.png);}
.keybox ul li span.disabled{background-image: none;height: 100%;}
.keybox ul li a.hideBtn{background: url(/wx/img/MicroParking/white/hide.png) center center no-repeat;background-size: 100%;}
.keybox ul li a.undo{background: url(/wx/img/MicroParking/white/cancle.png) center center no-repeat;background-size: 100%;}
.keybox ul li a.clearBtn{background: url(/wx/img/MicroParking/white/clear-s.png) center center no-repeat;background-size: 100%;}
#key-chinese ul li{width: 9.8%;}
#key-chinese ul li.doubleLi{width:20.8%;}
#key-chinese ul li.doubleLi a.clearBtn{height: 3.4rem;bottom:0.7rem; background: url(/wx/img/MicroParking/white/clear.png) center center no-repeat;background-size: cover;}

